html .top-nav {
    width: 1175px;
}
.header-menu {
    position: absolute;
    z-index: 4;
    min-width: 320px;
    width: 100%;
    height: auto;
    top: 0;
    margin: 0 auto;
    text-align: center;
    background: none;
    /*-webkit-transform: translateZ(0);*/
}
.headerColor {
    background: #ffffff;
    color: #646464;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,0.05);
    -moz-box-shadow: 5px 5px 10px rgba(0,0,0,0.05);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.05);
}
.top-nav {
    display: none;
    display: block;
    background: transparent;
    list-style: none;
    height: 100%;
    position: relative;
}
.top-menu {
    position: absolute;
    display: block;
    height: auto;
    width: 100%;
    top: 50%;
    left: 0;
    bottom: 0;
    margin-top: -15px;
    text-align: right;
    list-style: none;
  }
.top-menu ul {
    height: 100%;
    margin: 0;
    padding: 0;
    float:left;
}
.website-logo img {
  min-height: 100%;
  max-height: 100%;
}
website-logo {
    position: relative;
    display: inline-block;
    z-index: 1;
    height: 100%;
}

.sliding-menu-open {
    display: none;
}
