@media screen and (min-width: 480px)
{

/************************PAGE: PORTFOLIO*************************/

  #gallery li{
   width: 45%;
  }

  #gallery li:nth-child(4n){
    clear: left;
  }
  /************************TWO_COLUMN LAYOUT*************************/
  /*#primary
  {
    width: 50%;
    float: left;
  }
  #secondary
  {
    width: 40%;
    float: right;
  }*/
/************************
Figuring out column width: 3* (2.5%+2.5% margins) = 15%
  100-15 = 85%
  85%/3 = 28.333333333%
*************************/
.hamburger{
  visibility: hidden;
}
}

/************************PAGE: ABOUT*************************/

.profile-photo{
float: left;
  margin:: 0 5% 80px 0;
}




@media screen and (min-width: 660px)
{
  /************************HEADER*************************/
  nav{
    background: none;
    float: right;
    font-size:1.125em;
    margin-right: 5%;
    text-align:right;
    width: 45%;
  }
  nav
  #logo{
    float: left;
    margin-left:5%;
    text-align:left;
    width: 45%;
  }
  nav
  h1{
    font-size:2em;
  }
  h2{
    margin-bottom:10px;
  }

  header{
    border-bottom: 5px solid #599a68;
    margin-bottom:60px;
  }
  .hamburger{
    visibility: hidden;
  }
}

@media screen and (max-width: 480px){
  #nav {
    visibility: hidden;
  }
  .hamburger{
    visibility: visible;
  }
  ul#gallery
  {
    display: block;
  }
  #my-blog,
  #my-contact{
    display: flex;
    flex-direction: column;
  }
  #primary,
  #secondary{
    justify-content: space-around;
    padding-top: 15%;

  }
