html{
  background-color: beige;
}

/****************NAVIGATION*****************/

nav{
  background-color: rgb(170, 108, 57);
  height:4em;
  width: :100%;
}
.nav-anchors{
  margin-top: 2%;

}
.anc{
  padding-top: 4%;
  margin-bottom:0;
  margin-left: 10%;
}

/*************INPUT FORM*******************/
.div-form{
  float:left;
  width: 60%;
  margin-top: 10%;
}
.pic{
  float:left;
  width: 30%;
  margin-top: 5%;
  margin-left: 5%;
}
legend{
  margin-top: 10%;
  font-size: 1.2em;
}

/*.div-form-1 .div-form-2 label{
  display: inline;
  margin-top: 5%;
  margin-left:
}*/

.sequence{
  margin-top: 3%;
  height: 7em;
  width:15em;
}
/*label{
    margin-left: 10%;
}*/
.div-form-1 ul{
  display: inline;
}
.div-form-1 ul li{
  display: block;
}
/*.buttons{
  margin-left: 80%;
  margin-top: 5%;
}*/
table{
  width: 100%;
  /*border: solid;*/
}
table td input {
  margin-left: 10%;
}

.result{
  clear: both;
}
.result-box{
  border-style: solid;
  border-color: grey;
}
/*****************about us styles*************/
.veronika p{
    display: inline;
    margin-left: 10%;
}
.veronika img{
  margin-top: 5%;
  height: 300px;
}
