/************************General*************************/

body{
  font-family:'Open Sans', sans-serif;
}

#wrapper
{
  max-width:940px;
  margin:0 auto;
  padding:0 5%;
}

a
{ text-decoration:none;
  width:100%;
}

img
{
  max-width:100%;
}

h3
{
  margin: 0 0 1em 0;
}

a{
  color: #6ab47b;
}


/************************HEADING*************************/

header
{
  float: left;
  margin: 0 0 30px 0;
  padding:5px 0 0 0;
  width: 100%;
}

#logo {
  text-align: center;
  margin:0;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  margin: 15px 0;
  font-size: 1.75em;
  font-weight:normal;
  line-height:0.8em;
  padding-top:10px;

}
h2 {
  font-size: 0.74em;
  margin: -5px 0 0;
  font-weight:normal;
}

/************************navigation*************************/
.hamburger{
  font-size: 3em;
}
nav {
text-align: center;
padding: 10px 0;
margin: 20px 0 0;
}

nav ul {
  list-style:none;
  margin: 0 10px;
  padding: 0;
}

nav li {display:inline-block}

nav a
{
  font-weight:800;
  padding: 10px 15px;
}

/************************FOOTER*************************/

footer {
  font-size:0.75em;
  text-align:center;
  clear: both;
  padding-top:50px;
  color: #ccc;
}

.social-icon
{
  width:20px;
  height:20px;
  margin: 0 5px;
}

nav{background: #599a68;}
nav a, nav a:visited {color:#fff;}


nav a.selected, nav a:hover{
color: #32673f;
}
/*site body*/


/************************PAGE: PORTFOLIO*************************/
ul#gallery{
  display: flex;

}
#gallery li a{
  justify-content: space-around;
  width: 30%;
}
img.img-gallery{
  width:50%;
  border: solid 2px;
  border-radius: 5%;
}


#gallery li a p
{
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
  color: #bdc3c7;
}

body{
background-color: #fff;
  color: #999;
}

header{
  background: #6ab47b;
  border-color: #599a68;
/*logo text*/
}

h1, h2 {
  color: #fff;
}

/************************
Page: CONTACT
*************************/
.contact-info
{
  list-style:none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.contact-info a
{
  display:block;
  min-height:20px;
  background-repeat:no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;

}

/************************
Page: BLOG
*************************/
#my-blog{
  padding-top: 20%;
  clear:both;
  display: flex;
  justify-content: space-around;
}

.profile-photo
{
  /*clear:both;
  display:block;*/
  max-width:45%;
  margin: 0 10% 30px;
  border-radius:30px;
}
/****************CONTACT******************/
#my-contact{
  clear:both;
  padding-top: 20%;
  display: flex;
  justify-content: space-around;
}




}
