body {
  background-color: D6E2EA;
}

html .top-nav {
    width: 850px;
    max-width: 80%;
    position: relative;
    line-height: 1em;
    margin:0 auto;
}

/*div {
  display: block;
}*/

.header {
    /*overflow: auto;*/
    border-style: dashed;
    border-color: pink;
    display: inline-block;
    position: absolute;
    z-index: 4;
    min-width: 320px;
    width: 100%;
    height: auto;
    top: 0;
    margin: 0 auto;
    text-align: center;
    background: none;
    /*-webkit-transform: translateZ(0);*/
}
.header-menu .header-container {
    display: inline-block;
    border-style: dashed;
    border-color: blue;
    margin: 0 auto;
    width: 350;
}

/*.header .fixed {
    position: fixed !important;
}*/

/*.header-overlay {
    border-style: dashed;
    border-color: green;
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,0.05);
    -moz-box-shadow: 5px 5px 10px rgba(0,0,0,0.05);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.05);
}*/
/*.headerColor {
  background: #ffffff;
  color: #646464;
  }*/
/*.section-container {
    border-style: dashed;
    border-color: red;
    position: relative;
    max-width: 1180px;
    margin: 0 auto;
}*/
.top-nav{
    border-style: dashed;
    border-color: brown;
    display: inline-block;
    background: transparent;
    list-style: none;
    height: 100%;
    float:right;
    /*width:500px;*/
    /*position: relative;*/
}

/*.top-nav .top-menu {
    height: auto;
    width: 70%;
    top: 50%;
    left: 0;
    bottom: 0;
    text-align: right;
    float:right;
    margin-top: -15px;
    position: absolute;
    display: inline-block;
  }*/

.top-nav ul{
    height: 100%;
    float:right;
    /*margin: 150;*/
    /*padding: 0;*/
}
.top-nav > ul > li > a:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    border-bottom: 3px solid;
    transform: scale(0) translateZ(0);
    -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
    -moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
    -o-transition: -o-transform 0.5s ease, opacity 0.5s ease;
    transition: transform 0.5s ease, opacity 0.5s ease;
}
.top-nav > ul > li > a.hover:after, .top-nav > ul > li.current-menu-ancestor > a:after, .top-nav > ul > li.current-menu-item > a:after {
    opacity: 1;
    transform: scale(1) translateZ(0);
  }
.top-nav li {
    display: inline-block;
    height: 100%;
    line-height: 55px;
    transform: none;
    float: right;
    margin: 0;
    margin: 5px;
    margin-left: -1.5em;
    /*padding: 0;*/
    /*vertical-align: top;*/
    /*position: relative;*/
}
/*ul {
  border-style: dashed;
  border-color: grey;
  list-style: none;
  margin-left: 30px;
  margin-bottom: 30px;
}*/
ul li {
  list-style: disc;
  list-style-position: outside;
}
ul {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px
}
li {
  letter-spacing: 0.3px;
  line-height: 30px;
  text-transform: uppercase;
  padding: 0 16px 0 14px;
}
.website-logo img {
  min-height: 100%;
  max-height: 100%;
  display: block;
  float: left;
  /*max-width: 350px;*/
  /*margin: auto;*/
  /*width: auto;*/
  /*position: absolute;*/
  /*top: 0;
  bottom: 0;
  left: 0;
  right: 0;*/
}
.website-logo {
    z-index: 1;
    float: left;
    height: 100%;
    width: 350px;
    /*max-width: 350px;*/
    /*position: relative;*/
    /*display: inline-block;*/
}

.sliding-menu-open {
    display: none;
}

#request-container {
    float: left;
    margin-top: 1px;
    align-self: auto;
    position: absolute;
    border-style: dotted;
    border-color: grey;
}

.solid-bar{
  /* Clonet principle */
  margin-top: 110px;
  border-style: dotted;
  text-align: center;
  border-color: green;
    width: 40%;
    border: 2px dotted green;
    padding: 5px;
    margin-left: 350px;
  /*margin: auto;*/
  /*position: relative;*/
  /*align-self: auto;*/
  /*float: right;*/
}
.containers{
margin-top: 110px;
border-style: dotted;
text-align: center;
border-color: green;
  width: 40%;
  border: 2px dotted green;
  padding: 5px;
  margin-left: 350px;
}
/* request page video styles: */
.section-video-container{
  /*border-style: dashed;
  border-color: green;*/
  width: 100%;
  height: 277px;
  border-left: none;
  border-right: none;
  position: relative;
  background: transparent;
}
.video-container{
  /*background: url('assets/videoposter.jpeg') no-repeat;*/
  /*border-style: dashed;
  border-color: red;*/
  background: transparent;
  background-size: cover;
  height: 280px;
  width: 100%;
  position: absolute;
  overflow: hidden;
}
video {
  /*border-style: dashed;
  border-color: black;*/
  position: absolute;
  z-index: -1;
  opacity: 0.78;
  height: 277px;
  width: 100%;
  object-fit: cover;
}
