html .top-nav {

    max-width: 90%;
    /* width: 850px; */
    max-width: 100%;
    padding: 0;
    position: relative;
    line-height: 1em;
    margin:0 auto;
}

/*body {
  display: block;
  margin: 0;
  padding: 0;
}*/

.header {
    /*border-style: dashed;
    border-color: pink;*/
    display: inline-block;
    position: relative;
    z-index: 4;
    width: 100%;
    height: 11em;
    top: 0;
    margin: 0 auto;
    text-align: center;
    background: none;

}
#header-container{
  display: flex;
  justify-content: space-between;
}

.header-menu {
  display: inline-block;
  /*border-style: dashed;*/
  border-color: blue;
  margin: 0 auto;
}

.all-around-wrapper{
  height:90%;
}

.top-nav{
  /*border-style: dashed;
  border-color: yellow;*/
  display: inline-block;
  background: transparent;
  list-style: none;
  height: 100%;
  float:right;
}
.top-nav ul{
  height: 100%;
  float:right;
}

.top-nav li {
  display: inline-block;
  height: 100%;
  line-height: 2.5em;
  float: right;
  margin: 0;
  margin: 1em;
  margin-left: -2em;
}

li {
  list-style: none;
  display: inline;
  letter-spacing: 0.3px;
  line-height: 30px;
  list-style-position: outside;
  text-transform: uppercase;
  padding: 0 16px 0 14px;
}
.hover {
  color: #59585b;
  display: inline;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  text-decoration: none;
  list-style-position: outside;
  -webkit-transition: border .2s;
  transition: border .2s;
}
h3 {
    color: #ffffff;
    font-family: Baumans;
    line-height: 0.5em;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    float: left;
    vertical-align: middle;
}
.website-logo img {
  min-height: 100%;
  max-height: 100%;
  display: block;
  float: left;
}
.website-logo {
    z-index: 1;
    float: left;
    height: 100%;
    width: 350px;
}

.sliding-menu-open {
  display: none;
}

.containers{
  margin-top: 10%;
  width: 100%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: #DEE9F7;
}

footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 5em;
    margin-top:0;
    /*bottom: 0;*/
}
.section-video-container{
  width: 100%;
  height: 7em;
  /*margin-top: 2%;*/
  border-left: none;
  border-right: none;
  background: transparent;
  position:relative;
  bottom:0;
  padding: 0;
}
.video-container{
  background: transparent;
  background-size: cover;
  height: 5em;
  width: 100%;
  position: relative;
  overflow: hidden;
  bottom:0;
  padding: 0;
}

video {
  position: relative;
  z-index: -1;
  opacity: 0.78;
  height: 3em;
  width: 100%;
  object-fit: cover;
  bottom:0;
  /*padding: 0;*/
}


#about-us{
  width: auto;
  height: 15em;
  border-color:red;
  line-height: auto;
  /*removing this in html to have colored boxes instead */
}

.tbl {
    border-collapse: collapse;
    border-spacing: 0;
    border-color: transparent;
    border-width: 1px;
    border-style: solid;
    margin: 0px auto;
}
.tbl td {
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    padding: 10px 10px;
    border-style: solid;
    border-width: 0px;
    overflow: hidden;
    word-break: normal;
    color: black;
}
.tbl th {
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 10px;
    border-style: solid;
    border-width: 0px;
    overflow: hidden;
    word-break: normal;
    border-color: #999;
    color: white;
    background-color: #26ADE4;
}
.tbl .tbl-box1 {
    background-color: #DEE9F7;
    text-align: center;
}
.tbl .tbl-box2 {
    background-color: #59B5DB;
    vertical-align: top;
}
.tbl .tbl-box3 {
    background-color: #59B5DB;
    text-align: center;
    vertical-align: top;
}

.tbl .tbl-box4 {
    background-color: #DEE9F7;
    vertical-align: top;
}


/***************Clonet View styles***************/

#clonet-wrapper{
  width:100%;
  margin-top:0;
  margin-left: 0;
  height:40em;
  background-color: #DEE9F7;
}
.tubes{
  margin:2.5%;
  width: 35%;
  height: 26em;
  float: left;
  /*position: relative;*/
}

.tube {
  width: 95%;
  height: 25em;
}

.clonet-article {
  width: 60%;
  height:38em;
  padding: 0;
  float: right;
  background-color: #DEE9F7;
}
#article-link{
  margin-top: 1em;
  height: 100%;
  width: 100%;
}

a:hover{
  color: #22385a;
  text-decoration: underline;
}


.div-bar {
    height: 8em;
    background: #22385a;
    position: relative;
}
.decorative-paragraph{
  color:white;
  width: 100%;
  align-content: center;
}
 h3#page-name{
  margin-left: 5em;
}
/**********request page styles by Iryna:************/

#request-container {
  font-family: "Open Sans", sans-serif;
  border-color: grey;
  width:100%;
  min-height: 90%;
  position:relative;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #DEE9F7;
  /*#f9f9f9*/
}
#request-container div{
  margin-top: 2em;
  margin-left: 2em;
  margin-bottom: 2em;
  height: 100%;
  font-size: 1.5em;
  float:left;
  background-color: #59B5DB;
}
#results-div{
  min-height: 14.5em;
  width:55%;
}

#form-buttons-div{
  width:35%;
}
#bacCode, label,#hospital-filter{
/*height: 5em;
width: 15em;*/
font-size: 1em;
margin-top: 2em;
margin-left: 2em;
}

#submit, #reset{
  width:25%;
  height:15%;
  font-size: 1.1em;
  font-family: "Open Sans", sans-serif;
  margin-top: 2em;
  margin-left: 3em;
  margin-bottom: 2em;
}

#you-view{
  margin-left: 8em;
}
#result-ul li{
  font-family: "Open Sans", sans-serif;
  list-style: none;
  display: block;
  font-size: 0.7em;
  text-transform:none;
}
/***************Barcode View Page*************/
#barcode-container{
  background-color: #DEE9F7;
}
#form-table .test-numbers{

}
