
html .top-nav {
    width: 850px;
    max-width: 100%;
    padding: 0;
    position: relative;
    line-height: 1em;
    margin:0 auto;
}

body {
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
}

.header {
    border-style: dashed;
    border-color: pink;
    display: inline-block;
    position: absolute;
    z-index: 4;
    width: 100%;
    height: auto;
    top: 0;
    margin: 0 auto;
    text-align: center;
    background: none;
}
.header-menu .header-container {
    display: inline-block;
    border-style: dashed;
    border-color: blue;
    margin: 0 auto;
    width: 350;
}

.top-nav{
    border-style: dashed;
    border-color: brown;
    display: inline-block;
    background: transparent;
    list-style: none;
    height: 100%;
    float:right;
}

.top-nav ul{
    height: 100%;
    float:right;
}
.top-nav > ul > li > a::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    border-bottom: 3px solid;
      border-bottom-width: 3px;
      border-bottom-style: solid;
    transform: scale(0) translateZ(0);
    -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
    -moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
    -o-transition: -o-transform 0.5s ease, opacity 0.5s ease;
    transition: transform 0.5s ease, opacity 0.5s ease;
      transition-property: transform, opacity;
      transition-duration: 0.5s, 0.5s;
      transition-timing-function: ease, ease;
      transition-delay: initial, initial;
}
.top-nav > ul > li > a.hover {
  border-color: #006699;

}
.top-nav > ul > li > a.hover:after, .top-nav > ul > .current-menu-ancestor > a:after, .top-nav > ul > .current-menu-item > a:after {
    opacity: 1;
    transform: scale(1) translateZ(0);
  }
.top-nav li {
    display: inline-block;
    height: 100%;
    line-height: 55px;
    transform: none;
    float: right;
    margin: 0;
    margin: 5px;
    margin-left: -1.5em;
}
ul li {
  list-style: none;
  list-style-position: outside;
}
ul {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px
}
li {
  display: inline;
  letter-spacing: 0.3px;
  line-height: 30px;
  list-style-position: outside;
  text-transform: uppercase;
  padding: 0 16px 0 14px;
}
.hover {
  color: #59585b;
  display: inline;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  text-decoration: none;
  list-style-position: outside;
  -webkit-transition: border .2s;
  transition: border .2s;
}
h3 {
    color: #ffffff;
    font-family: Baumans;
    line-height: 48px;
    font-weight: 400;
    font-style: normal;
    font-size: 34px;
}
.website-logo img {
  min-height: 100%;
  max-height: 100%;
  display: block;
  float: left;
}
.website-logo {
    z-index: 1;
    float: left;
    height: 100%;
    width: 350px;
}

.sliding-menu-open {
    display: none;
}

#request-container {
    float: left;
    margin-top: 1px;
    align-self: auto;
    position: absolute;
    border-style: dotted;
    border-color: grey;
}

.solid-bar{
  /* Clonet principle */
  margin-top: 110px;
  border-style: dotted;
  text-align: center;
  border-color: green;
    /*width: 40%;*/
    border: 2px dotted green;
    padding: 5px;
    margin-left: 350px;
  /*margin: auto;*/
  /*position: relative;*/
  /*align-self: auto;*/
  /*float: right;*/
}
.containers{
margin-top: 8em;
margin-left: 0;
border-style: dotted;
/*text-align: center;*/
border-color: green;
  /*width: 40%;
  border: 2px dotted green;
  margin-left: 10em;*/
}
/* request page video styles: */
.section-video-container{
  /*border-style: dashed;
  border-color: green;*/
  height: 277px;
  width: 100%;
  border-left: none;
  border-right: none;
  position: relative;
  background: transparent;
}
.video-container{
  /*background: url('assets/videoposter.jpeg') no-repeat;*/
  /*border-style: dashed;
  border-color: red;*/
  background: transparent;
  background-size: cover;
  height: 280px;
  width: 100%;
  position: absolute;
  overflow: hidden;
}
.landscape-video-background {
  /*border-style: dashed;
  border-color: black;*/
  position: absolute;
  z-index: -1;
  opacity: 0.78;
  height: 277px;
  width: 100%;
  object-fit: cover;
}
/***************Clonet View styles***************/

.clonet-wrapper{
  display: inline-block;
  /*justify-content: space-between;*/
}

.tubes{
  border-style: dashed;
  border-color: green;
  width: 30em;
  height: 30em;
}
.clonet-article {
border-style: dashed;
border-color: red;
padding: 0;
}
/*.div-bar {
    height: 48px;
    background: #22385a;
    position: relative;
}*/
.decorative-paragraph{
  color:white;
  width: 100%;
  height: 48px;
}
