html .top-nav {
    width: 850px;
    max-width: 80%;
    position: relative;
    line-height: 1em;
    margin:0 auto;
}

/*div {
  display: block;
}*/

.header {
    /*overflow: auto;*/
    border-style: dashed;
    border-color: pink;
    display: inline-block;
    position: absolute;
    z-index: 4;
    min-width: 320px;
    width: 100%;
    height: auto;
    top: 0;
    margin: 0 auto;
    text-align: center;
    background: none;
    /*-webkit-transform: translateZ(0);*/
}
.header-menu .header-container {
    display: inline-block;
    border-style: dashed;
    border-color: blue;
    margin: 0 auto;
    width: 350;
}

/*.header .fixed {
    position: fixed !important;
}*/

/*.header-overlay {
    border-style: dashed;
    border-color: green;
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,0.05);
    -moz-box-shadow: 5px 5px 10px rgba(0,0,0,0.05);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.05);
}*/
/*.headerColor {
  background: #ffffff;
  color: #646464;
  }*/
/*.section-container {
    border-style: dashed;
    border-color: red;
    position: relative;
    max-width: 1180px;
    margin: 0 auto;
}*/
.top-nav{
    border-style: dashed;
    border-color: brown;
    display: inline-block;
    background: transparent;
    list-style: none;
    height: 100%;
    float:right;
    /*width:500px;*/
    /*position: relative;*/
}

/*.top-nav .top-menu {
    height: auto;
    width: 70%;
    top: 50%;
    left: 0;
    bottom: 0;
    text-align: right;
    float:right;
    margin-top: -15px;
    position: absolute;
    display: inline-block;
  }*/

.top-nav ul{
    height: 100%;
    float:right;
    /*margin: 150;*/
    /*padding: 0;*/
}

.top-nav li {
    display: inline-block;
    height: 100%;
    line-height: 55px;
    transform: none;
    float: right;
    margin: 0;
    margin: 5px;
    /*padding: 0;*/
    /*vertical-align: top;*/
    /*position: relative;*/
}
/*ul {
  border-style: dashed;
  border-color: grey;
  list-style: none;
  margin-left: 30px;
  margin-bottom: 30px;
}*/
ul li {
  list-style: disc;
  list-style-position: outside;
}
ul {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px
}
li {
  letter-spacing: 0.3px;
  line-height: 30px;
  text-transform: uppercase;
  padding: 0 16px 0 14px;
}
.website-logo img {
  min-height: 100%;
  max-height: 100%;
  display: block;
  float: left;
  /*max-width: 350px;*/
  /*margin: auto;*/
  /*width: auto;*/
  /*position: absolute;*/
  /*top: 0;
  bottom: 0;
  left: 0;
  right: 0;*/
}
.website-logo {
    z-index: 1;
    float: left;
    height: 100%;
    width: 350px;
    /*max-width: 350px;*/
    /*position: relative;*/
    /*display: inline-block;*/
}

.sliding-menu-open {
    display: none;
}

#request-container {
    float: left;
    margin-top: 100px;
    align-self: auto;
    position: absolute;
    border-style: dotted;
    border-color: grey;
}

.solid-bar{
  margin-top: 100px;
  position: absolute;
  align-self: auto;
  border-style: dotted;
  border-color: green;
}
