

html .top-nav {

  max-width: 90%;

 /* width: 850px; */
    max-width: 100%;
    padding: 0;
    position: relative;
    line-height: 1em;
    margin:0 auto;
}

body {
  display: block;
  margin: 0;
  padding: 0;

  position: relative;
}

.header {
    border-style: dashed;
    border-color: pink;
    display: inline-block;
    position: relative;
    z-index: 4;
    width: 100%;
    height: auto;
    top: 0;
    margin: 0 auto;
    text-align: center;
    background: none;

}

.header-menu {
  display: inline-block;
  border-style: dashed;
  border-color: blue;
  margin: 0 auto;
}



.top-nav{
  border-style: dashed;
  border-color: yellow;
  display: inline-block;
  background: transparent;
  list-style: none;
  height: 100%;
  float:right;
}
.top-nav ul{
  height: 100%;
  float:right;
}

.top-nav li {
  display: inline-block;
  height: 100%;
  line-height: 2.5em;
  float: right;
  margin: 0;
  margin: 1em;
  margin-left: -2em;
}

li {
  list-style: none;
  display: inline;
  letter-spacing: 0.3px;
  line-height: 30px;
  list-style-position: outside;
  text-transform: uppercase;
  padding: 0 16px 0 14px;
}
.hover {
  color: #59585b;
  display: inline;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  text-decoration: none;
  list-style-position: outside;
  -webkit-transition: border .2s;
  transition: border .2s;
}
h3 {
    color: #ffffff;
    font-family: Baumans;
    line-height: 48px;
    font-weight: 400;
    font-style: normal;
    font-size: 34px;
}
.website-logo img {
  min-height: 100%;
  max-height: 100%;
  display: block;
  float: left;
}
.website-logo {

    z-index: 1;
    float: left;
    height: 100%;
    width: 350px;
}

.sliding-menu-open {
  display: none;
}

.containers{
  margin-top: 10%;
  border-style: dotted;
  text-align: center;
  border-color: green;

  /*width: 50%;*/
  border: 2px dotted green;
  padding: 2px;
  margin-left: auto;
  margin-right: auto;
}

/* request page video styles: */
#footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    /*margin-top: -3em;*/
    bottom: 0;
}
.section-video-container{
  width: 100%;
  height: 5em;

  border-left: none;
  border-right: none;
  background: transparent;
  border: 2px dotted green;
  position: absolute;
  bottom:0;
}
.video-container{
  background: transparent;
  background-size: cover;
  height: 5em;
  width: 100%;
  position: relative;
  overflow: hidden;
  bottom:0;
}

video {
  position: relative;
  z-index: -1;
  opacity: 0.78;
  height: 3em;
  width: 100%;
  object-fit: cover;
  bottom:0;
}

.clonetBox {
  border-style: dotted;
  text-align: center;
  position: relative;
  border-color: blue;
}

#clonet-principle{
  border-style: dotted;
  border-color: green;
  text-align: center;
  float: right;

}

#about-us{
  width: auto;
  height: 15em;
  border-color:red;
  line-height: auto;
  /*removing this in html to have colored boxes instead */
}

.tbl {
    border-collapse: collapse;
    border-spacing: 0;
    border-color: transparent;
    border-width: 1px;
    border-style: solid;
    margin: 0px auto;
}
.tbl td {
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    padding: 10px 10px;
    border-style: solid;
    border-width: 0px;
    overflow: hidden;
    word-break: normal;
    color: black;
}
.tbl th {
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 10px;
    border-style: solid;
    border-width: 0px;
    overflow: hidden;
    word-break: normal;
    border-color: #999;
    color: white;
    background-color: #26ADE4;
}
.tbl .tbl-box1 {
    background-color: #DEE9F7;
    text-align: center;
}
.tbl .tbl-box2 {
    background-color: #59B5DB;
    vertical-align: top;
}
.tbl .tbl-box3 {
    background-color: #59B5DB;
    text-align: center;
    vertical-align: top;
}
.tbl .tbl-box4 {
    background-color: #DEE9F7;
    vertical-align: top;
}

#article-link{
  height: 25em;
  width: 35em;
}

/***************Clonet View styles***************/
.clonet-wrapper{
  display: inline-block;
  /*justify-content: space-between;*/
}

.tubes{
  border-style: dashed;
  border-color: green;
  margin-top: 10em;
  display: inline-flex;
  width: 30em;
  height: 25em;
  float: left;
  border-style: dotted;
  border-color: black;
  position: relative;
}

.tube {
  width: 30em;
  height: 25em;
}

a:hover{
  color: #22385a;
  text-decoration: underline;
}

.clonet-article {
border-style: dashed;
border-color: red;
padding: 0;
float: right;
}

.div-bar {
    height: 48px;
    background: #22385a;
    position: relative;
}
.decorative-paragraph{
  color:white;
  width: 100%;
  height: 48px;
}

/**********request page styles by Iryna:************/

#request-container {
  font-family: "Open Sans", sans-serif;
  border-color: grey;
  width:100%;
  min-height: 35em;
  position:relative;
}
#hospital-filter{
  font-size:1em;
}
.form-buttons-div {
  margin-top: 5%;
  width: 40%;
  height: 2em;
  font-size: 1.5em;
  float:left;
}
#results-div{
  width:50%;
  margin-left: 5%;
  font-size: 1.5em;
  display: inline;
  float:right;
}
label{
  font-size: 1em;
}
#bacCode{
/*height: 5em;
width: 15em;*/
font-size: 1em;
}
#submit, #reset{
  width:4em;
  height:1.5em;
  font-size: 1.5em;
  font-family: "Open Sans", sans-serif;
}
#header-container{
  display: flex;
  justify-content: space-between;
}
#result-ul li{
  display: block;
  font-size: 0.8em;
}
/***************Barcode View Page*************/

#form-table .test-numbers{

}
