html{
    height: 50em;
}
html .top-nav {
    max-width: 100%;
    padding: 0;
    position: relative;
    line-height: 1em;
    margin:0 auto;
}
body {
  margin: 0;
  padding: 0;
  position: relative;
}
.hover {
  color: #59585b;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.1em;
  text-decoration: none;
  list-style-position: outside;
  -webkit-transition: border .2s;
  transition: border .2s;
}
.header {
    display: inline-block;
    position: relative;
    z-index: 4;
    width: 100%;
    height: auto;
    top: 0;
    /*margin: 0 auto;*/
    text-align: center;
    background: none;
}
.header-menu {
  display: inline-block;
  margin: 0 auto;
}
.header-container{
  height:8em;
}
.top-nav{
  font-size: 0.9em;
  height: 100%;
  float:right;
  background: transparent;
}
.top-nav ul li {
  height: 100%;
  margin: 1em;
  margin-left: -2em;
  letter-spacing: 0.07em;
  list-style-position: outside;
  text-transform: uppercase;
  list-style: none;
}
h3 {
    color: #ffffff;
    font-family: Baumans;
    line-height: 0.5em;
    font-weight: 400;
    font-style: normal;
    float: left;
    vertical-align: middle;
}
.website-logo img {
  min-height: 100%;
  max-height: 100%;
  display: block;
  float: left;
}
.website-logo {
    z-index: 1;
    float: left;
    height: 100%;
    position: static;
    top:0;
}
.section-video-container{
  width: 100%;
  height: 10em;
  margin-top: -1;
  background: transparent;
  position: relative;
  bottom:0;
}
.video-container{
  background: transparent;
  background-size: cover;
  height: 10em;
  width: 100%;
  position:static;
  overflow: hidden;
  bottom:0;
}
video {
  position: relative;
  z-index: -1;
  opacity: 0.78;
  height: 3em;
  width: 100%;
  object-fit: cover;
  bottom:0;
}
/***********Clonet page********************/
#clonet-wrapper {
  margin-bottom: 3em;
  /*margin-top: 1em;*/
  justify-content: flex-start;
}
#article-link{
  height: 30em;
  width: 100%;
  float:right;
}
.clonet-article {
width: 50%;
float: right;
margin-right: 0.2em;
}

.tubes{
  display: inline-flex;
  width: 45%;
  height: 30.3em;
  margin-bottom: 1em;
  margin-left: 0.2em;
}
.tube {
  width: 100%;
  height: 100%;
  float: left;
  position: relative;
}

a:hover{
  color: #22385a;
  text-decoration: underline;
}

.div-bar {
    height: 48px;
    background: #22385a;
    position: relative;
}
.decorative-paragraph{
  color:white;
}
/************Query Page**************/

.all-around-wrapper{
  width: 100%;
  display: flex;
  background-image: url("/assets/images/orange plate compressed.jpg");
  background-size: cover;
  background-position: center;
  background-color: transparent;
  position: relative;
  text-align:left;
  margin-left: 0;
}
.containers{
  padding-top:1em;
  width: 40%;
}
#request-container {
  display: flex;
  font-family: "Open Sans", sans-serif;
}
.form-buttons-div{
  margin-bottom: 2em;
  background-color: transparent;
  width:100%;
  min-height: 14.5em;
}
.query-form{
  display: flex;
  flex-direction: column;
  /*justify-content: flex-start;*/
  align-items: flex-start;
}
.filters{
  display: flex;
  justify-content: flex-start;
  padding-top: 2em;
  font-family: "Open Sans", sans-serif;
  width:100%;
}
#bacCode, label{
padding-top: 2em;
justify-content: flex-start;
}
.bacCode{
  width: 25%;
  height: 1.2em;
  font-weight: bold;
}
#bcReset,#bcSubmit{
  width:60%;
  height:8%;
  margin-top: 1.5em;
}
#submit, #reset{
  width:35%;
  height:15%;
  font-family: "Open Sans", sans-serif;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: lightgrey;
}
/*#you-view{
  margin-left: 2em;
}*/
#result-ul{
  line-height: 2em;
  border-radius: 3%;
  background-color: transparent;
  font-family: "Open Sans", sans-serif;
  list-style: none;
  display: block;
  font-size: 0.9em;
  text-transform:none;
  text-align: left;
  width: 100%;
}

#barcode-container{
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  margin-left: 5em;
  display: flex;
  height: 35em;
  /*width: 40%;*/
}
.form-buttons-div{
  display: block;
}
.bcLabel{
  font-family: "Open Sans", sans-serif;
}
.load-label{
  padding-left:2em;
  font-family: "Open Sans", sans-serif;
  font-size: 1.1em;
}

#barcodeEntry{
  width:60%;
  height: 10em;
  font-size: 0.8em;
}
textarea {
  width: 60%;
  height: 7em;
  margin: 1em;
  font-size: 1em;
}
