@media screen and (min-width:1071px) {

  .top-nav ul li {
    line-height: 2.5em;
    height: 100%;
    float:right;
    padding: 0 1em 0 1em;
  }
  .hover {
    display: inline;
    font-size: 1em;
  }
  h3{
      font-size: 1.5em;
  }
  #request-container{
    font-size: 1.1em;
  }
  #form-buttons-div{
      margin-left: 25%;
  }
  #submit, #reset, #bacCode, label, #hospital-filter, #you-view{
    justify-content: space-between;
    font-size: 1em;
  }

}

@media screen and (min-width: 487px && max-width: 1070px){

  .hover {
    display: inline;
    font-size: 0.9em;
  }
  .top-nav ul li {
    padding: 0 0.7em 0 0.7em;
    font-size: 0.8em;
    display: block;
    height: 100%;
    line-height: 1.5em;
    margin: 0;
  }

#request-container{
  font-size: 0.8em;
}
/*#form-buttons-div{
  margin-left: 25%;
}*/

#submit, #reset, #bacCode, label, #hospital-filter, #you-view{
  justify-content: space-between;
  font-size: 0.7em;
}
}


@media screen and (max-width: 486px){

  .tubes, .clonet-article {
    display: block;
  }
  .decorative-paragraph{
    font-size: 0.8em;
  }
  .website-logo img {
    min-height: 50%;
    max-height: 50%;
    display: block;
    float: left;
  }
  .website-logo {
      z-index: 1;
      float: left;
      height: 100%;
      width: 100%;
  }

  .top-nav ul li {
    padding: 0 0.5em 0 0.5em;
    font-size: 0.75em;
    display: block;
    height: 7%;
    line-height: 1em;
    margin: 0;
  }

  .tubes{
    background-color: #DEE9F7;
    margin:1%;
    width: 90%;
    height: 90%;
    float: left;
  }
  .tube {
    width: 95%;
    height: 90%;
  }
  .clonet-article {
    width: 90%;
    height:20em;
    padding: 0;
    float: left;
  }

  #submit, #reset, #bacCode, #you-view, label, #hospital-filter{
    justify-content: space-around;
    font-size: 0.5em;
  }
  #request-container div{
    display: block;
    width: 90%;
    margin-top: 3em;
    margin-left: 10%;
    margin-bottom: 2em;
    height: 100%;
    font-size: 0.8em;
    background-color: transparent;
  }
  #results-div{
    min-height: 14.5em;
    width:90%;
  }
  footer{
    visibility:hidden;
  }

}
