@media screen and (min-width:1071px) {

  .top-nav ul li {
    line-height: 2.5em;
    height: 100%;
    float:right;
    padding: 0 1em 0 1em;
  }
  .hover {
    display: inline;
    /*font-size: 1em;*/
  }
  h3{
      font-size: 1.5em;
  }
  #request-container{
    font-size: 1.1em;
  }

  #submit, #reset, #bacCode, label, #hospital-filter, #you-view, #bcSubmit, #bcReset{
    justify-content: space-between;
    font-size: 1em;
  }
  .bcLabel{
    font-size: 1.3em;
  }
  .clonet-article{
    box-shadow: -1.3em 1em 2em #59585b;
    height: 100%;
  }
  .tubes{
    box-shadow: 1.3em 1em 2em #59585b;
  }
}

@media screen and (min-width: 487px && max-width: 1070px){

  .hover {
    display: inline;
    /*font-size: 0.7em;*/
  }
  .top-nav{
    display: inline;
  }
  .top-nav ul li {
    padding: 0 0.6em 0 0.6em;
    display: block;
    float: left;
    height: 100%;
    line-height: 1.2em;
    margin: 0;
  }
  .clonet-article{
    box-shadow: -1.3em 1em 2em #59585b;
    height: 100%;
  }
  .tubes{
    box-shadow: 1.3em 1em 2em #59585b;
  }
#request-container{
  font-size: 0.8em;
}
#request-container div{
  padding-left: 11em;
}
#submit, #reset, #bacCode, label, #hospital-filter, #you-view, #bcSubmit, #bcReset{
  justify-content: space-between;
  font-size: 0.7em;
}
}


@media screen and (max-width: 486px){

  .tubes, .clonet-article {
    display: block;
    margin-top: 1em;
    margin-left: 1.5em;
  }
  .decorative-paragraph{
    font-size: 0.8em;
  }
  .website-logo img {
    min-height: 50%;
    max-height: 50%;
    display: block;
    float: left;
  }
  .website-logo {
      z-index: 1;
      float: left;
      height: 100%;
      width: 100%;
  }
  .top-nav{
    display: inline-block;
  }
  .top-nav ul li {
    padding: 0 0.5em 0 0.5em;
    font-size: 0.75em;
    display: inline;
    float:left;
    height: 7%;
    line-height: 1em;
    margin: 0;
  }

  .tubes{
    background-color: #DEE9F7;
    /*margin:1%;*/
    width: 90%;
    height: 90%;
    float: left;
    box-shadow: -1.3em 1em 2em #59585b;
  }
  .clonet-article{
    box-shadow: -1.3em 1em 2em #59585b;
  }
  .tubes{
    box-shadow: -1.3em 1em 2em #59585b;
  }
  .tube {
    width: 100%;
    height: 90%;
  }
  .clonet-article {
    width: 90%;
    /*height:20em;*/
    padding: 0;
    float: left;
  }

  #submit, #reset, #bacCode, #you-view, #hospital-filter, #bcSubmit, #bcReset{
    justify-content: space-around;
    font-size: 0.5em;
  }
  #request-container div{
    padding-left: 3em;
    display: block;
    width: 90%;
    padding-top: 12em;
    /*margin-left: 10%;*/
    margin-bottom: 2em;
    height: 100%;
    font-size: 0.8em;
    background-color: transparent;
  }
  #results-div{
    min-height: 14.5em;
    width:90%;
  }
  /*footer{
    visibility:hidden;
  }*/

}
