@media screen and (max-width: 480px)
{

  .header {
    display: block;
    position: relative;
    z-index: 4;
    width: 100%;
    top: 0;
    margin: 0 auto;
    text-align: center;
    background: none;
    justify-content: flex-start;
  }
  #header-container{
    display: flex;
    justify-content:flex-start;
  }
  .top-nav{
    display: block;
    justify-content: flex-end;
  }
  .top-nav li {
    height: 10%;
    line-height: 1em;
    float: right;
    margin: 0;

  }
  #request-container div{
    display: block;
  }
  #submit, #reset,#bacCode, label,#hospital-filter, #you-view{
    justify-content: space-between;
    font-size: 0.5em;
  }

  footer{
    visibility:hidden;
  }
}

@media screen and (max-width: 600px){
  .top-nav{
    display: block;
  }
  .top-nav li {
    height: 5%;
    font-style: 0.5em;
    line-height: 1em;
    float: right;
  }
  .tubes{
    background-color: #DEE9F7;
    margin:1%;
    width: 90%;
    height: 90%;
    float: left;
    /*position: relative;*/
  }
  .tube {
    width: 95%;
    height: 90%;
  }
  .clonet-article {
    width: 90%;
    height:20em;
    padding: 0;
    float: left;
  }
  #request-container div{
    display: block;
  }
  #submit, #reset, #bacCode, label, #hospital-filter{
    justify-content: space-around;
    font-size: 0.5em;
  }
  #request-container div{
    width: 90%;
    margin-top: 2em;
    margin-left: 2em;
    margin-bottom: 2em;
    height: 100%;
    font-size: 0.8em;
    background-color: #59B5DB;
  }
  #results-div{
    min-height: 14.5em;
    width:90%;
  }
  footer{
    visibility:hidden;
  }
}
